@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos.css */
:root {
  --transition: all 0.3s ease;
  --primary-light: #f0f0f0;
  --secondary-light: #ffffff;
  --accent-light: #8a3fc9;
  --text-primary-light: #1a1025;
  --text-secondary-light: #3b2a4a;
  --gradient-light: linear-gradient(
    135deg,
    #ffffff 0%,
    #f3e8ff 50%,
    #d4afff 100%
  );
  --card-bg-light: rgba(240, 244, 248, 0.7);
  --bg-opacity-light: rgba(200, 180, 255, 0.5);
  --primary-dark: #1a1025;
  --secondary-dark: #2d1b3d;
  --accent-dark: #9d5cd1;
  --text-primary-dark: #f2e6ff;
  --text-secondary-dark: #d9b3ff;
  --gradient-dark: linear-gradient(
    135deg,
    #12081d 0%,
    #311b45 50%,
    #421c5d 100%
  );
  --card-bg-dark: rgba(26, 16, 37, 0.85);
  --bg-opacity-dark: rgba(26, 16, 37, 0.3);
  --card-gradient-light: linear-gradient(
    135deg,
    rgba(240, 244, 248, 0.85) 0%,
    rgba(200, 180, 255, 0.7) 100%
  );
  --card-gradient-dark: linear-gradient(
    135deg,
    rgba(26, 16, 37, 0.95) 0%,
    rgba(26, 16, 37, 0.5) 100%
  );
}

body.light {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --gradient: var(--gradient-light);
  --card-bg: var(--card-bg-light);
  --bg-opacity: var(--bg-opacity-light);
  --card-gradient: var(--card-gradient-light);
  background-color: var(--primary);
  color: var(--text-primary);
  transition: var(--transition);
  --name-gradient: linear-gradient(135deg, #421c5d, #9d5cd1);
}

body.dark {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --gradient: var(--gradient-dark);
  --card-bg: var(--card-bg-dark);
  --bg-opacity: var(--bg-opacity-dark);
  --card-gradient: var(--card-gradient-dark);
  background-color: var(--primary);
  color: var(--text-primary);
  transition: var(--transition);
  --name-gradient: linear-gradient(135deg, #8a3fc9, #d4afff); 
}

.card {
  background: var(--card-bg);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.navbar {
  backdrop-filter: blur(5px);
  transition: var(--transition);
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--accent);
  text-shadow: 0 0 6px rgba(177, 100, 255, 0.6);
  filter: brightness(1.1);
  transition: var(--transition);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--gradient);
  transition: var(--transition);
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
}

h2 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  font-weight: 500;
}

p {
  font-size: clamp(1rem, 3vw, 1.25rem);
  line-height: 1.5;
}

a {
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

.theme-toggle-button {
  transition: var(--transition);
}

body.light .theme-toggle-button {
  background-color: #ffffff;
  color: var(--text-primary-light);
}

body.dark .theme-toggle-button {
  background-color: #2d1b3d;
  color: var(--text-primary-dark);
}

.theme-toggle-button:hover {
  transform: scale(1.15);
  background-color: var(--accent);
  filter: brightness(1.4);
}

.translation-toggle-button {
  transition: var(--transition);
}

body.light .translation-toggle-button {
  background-color: #ffffff;
  color: var(--text-primary-light);
}

body.dark .translation-toggle-button {
  background-color: #2d1b3d;
  color: var(--text-primary-dark);
}

.translation-toggle-button:hover {
  transform: scale(1.15);
  background-color: var(--accent);
  filter: brightness(1.4);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.image-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 3px solid var(--accent);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: -15px;
  bottom: -15px;
  border: 2px solid var(--accent);
  border-radius: 15px;
  z-index: -1;
  transition: all 0.3s;
}

.image-container:hover::after {
  top: 10px;
  left: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

.technologies-carousel {
  background: linear-gradient(
    135deg,
    var(--secondary),
    var(--secondary),
    var(--secondary)
  );
  border-radius: 15px;
}

.gradient-text {
  background: var(--name-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }

  .skills-carousel {
    padding: 1rem;
  }

  .carousel-track {
    flex-wrap: nowrap;
  }
}
