@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos.css */
:root {
  /* Variables Compartidas */
  --transition: all 0.3s ease;

  /* Light Mode Variables */
  --primary-light: #f0f0f0; /* Fondo principal */
  --secondary-light: #ffffff; /* Fondo secundario */
  --accent-light: #8a3fc9; /* Acento definido */
  --text-primary-light: #1a1025; /* Texto principal */
  --text-secondary-light: #3b2a4a; /* Texto secundario */
  --gradient-light: linear-gradient(
    135deg,
    #ffffff 0%,
    #f3e8ff 50%,
    #d4afff 100%
  ); /* Blanco a púrpura claro */
  --card-bg-light: rgba(240, 244, 248, 0.7); /* Fondo de tarjeta más claro */
  --bg-opacity-light: rgba(
    200,
    180,
    255,
    0.5
  ); /* Fondo con opacidad más visible para tema claro con un toque de púrpura */

  /* Dark Mode Variables */
  --primary-dark: #1a1025; /* Fondo principal */
  --secondary-dark: #2d1b3d; /* Fondo secundario */
  --accent-dark: #9d5cd1; /* Acento ligeramente más claro */
  --text-primary-dark: #f2e6ff; /* Texto principal */
  --text-secondary-dark: #d9b3ff; /* Texto secundario */
  --gradient-dark: linear-gradient(
    135deg,
    #12081d 0%,
    #311b45 50%,
    #421c5d 100%
  ); /* Gradiente más oscuro */
  --card-bg-dark: rgba(26, 16, 37, 0.85); /* Fondo de tarjeta más oscuro */
  --bg-opacity-dark: rgba(
    26,
    16,
    37,
    0.3
  ); /* Fondo con opacidad para tema oscuro */
}

/* Light Theme */
body.light {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --gradient: var(--gradient-light);
  --card-bg: var(--card-bg-light);
  --nav-bg: var(--nav-bg-light);
  --bg-opacity: var(--bg-opacity-light);

  background-color: var(--primary);
  color: var(--text-primary);
  transition: var(--transition);
}

/* Dark Theme */
body.dark {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --gradient: var(--gradient-dark);
  --card-bg: var(--card-bg-dark);
  --nav-bg: var(--nav-bg-dark);
  --bg-opacity: var(--bg-opacity-dark);

  background-color: var(--primary);
  color: var(--text-primary);
  transition: var(--transition);
}

/* Transparent Card Backgrounds */
.card {
  background: var(--card-bg);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

/* Navbar Styles */
.navbar {
  backdrop-filter: blur(5px);
  transition: var(--transition);
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--accent);
  text-shadow: 0 0 6px rgba(177, 100, 255, 0.6);
  filter: brightness(1.1);
  transition: var(--transition);
}

/* Estilos globales */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--gradient);
  transition: var(--transition);
}

/* Tipografía */
h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
}

h2 {
  font-size: clamp(1.75rem, 4.5vw, 2.5rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(1.25rem, 3.5vw, 1.75rem);
  font-weight: 500;
}

p {
  font-size: clamp(1rem, 3vw, 1.25rem);
  line-height: 1.5;
}

a {
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

/* Accent Elements */
.theme-toggle-button {
  transition: var(--transition);
}

body.light .theme-toggle-button {
  background-color: #ffffff;
  color: var(--text-primary-light);
}

body.dark .theme-toggle-button {
  background-color: #2d1b3d;
  color: var(--text-primary-dark);
}

.theme-toggle-button:hover {
  transform: scale(1.15);
  background-color: var(--accent);
  filter: brightness(1.4);
}

/* Translation Button Styles */
.translation-toggle-button {
  transition: var(--transition);
}

body.light .translation-toggle-button {
  background-color: #ffffff;
  color: var(--text-primary-light);
}

body.dark .translation-toggle-button {
  background-color: #2d1b3d;
  color: var(--text-primary-dark);
}

.translation-toggle-button:hover {
  transform: scale(1.15);
  background-color: var(--accent);
  filter: brightness(1.4);
}

/* Animaciones */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/** Home **/
.image-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 3px solid var(--accent);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: -15px;
  bottom: -15px;
  border: 2px solid var(--accent);
  border-radius: 15px;
  z-index: -1;
  transition: all 0.3s;
}

.image-container:hover::after {
  top: 10px;
  left: 10px;
}

/* Carrousel de tecnologías */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

.technologies-carousel {
  background: linear-gradient(
    135deg,
    var(--secondary),
    var(--secondary),
    var(--secondary)
  );
  border-radius: 15px; /* Ensure the corners are rounded */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }

  .skills-carousel {
    padding: 1rem;
  }

  .carousel-track {
    flex-wrap: nowrap;
  }
}
